.whatWeDo {
  padding: 4rem 16rem;
  display: flex;
  justify-content: space-around;
}

.whatWeDo div {
  max-width: 26rem;
  width: 100%;
  margin: 1rem;
}
.whatWeDo div .whatwedoImg {
  margin-left: 0;
  height: 4rem;
  width: 4rem;
  position: relative;
}
.whatWeDo div h1 {
  margin: 2rem 0;
}
.whatWeDo div p {
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 2.6rem;
}
@media only screen and (max-width: 600px) {
  .whatWeDo {
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }
}
