.testimonials {
  padding: 10rem 12rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.testimonials > div {
  max-width: 40rem;
  width: 100%;
  margin: 1rem;
}
.testimonials .left .testimonIng {
  height: 42rem;
  width: 38rem;
  position: relative;
}

.testimonials .right div:first-child {
  height: 4rem;
  width: 4rem;
  position: relative;
}
.testimonials .right p {
  /* font-family: Gordita; */
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  line-height: 4rem;
  margin: 2rem 0;
}
.testimonials .right p u {
  color: skyblue;
}
.testimonials .right .rb {
  display: flex;
  align-items: flex-start;
}
.testimonials .right .rb p {
  margin-top: -1rem;
}
.testimonials .right .rb h3 {
  /* font-family: Gabriela; */
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-left: 1rem;
}
.testimonials .right .rb h4 {
  /* font-family: Gabriela; */
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-left: 1rem;
  color: rgb(94, 94, 94);
}
@media only screen and (max-width: 600px) {
  .testimonials {
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
}
